@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --panel-background: #ffffff;
    --separator-color:#efefef6a;
    --primary-color: #ecb5bcff;
    --primary-color-hover: #ebc6ca;
    --accent-color: #ecb5bcff;
    --acccent-2-color: #40E0D0;
    --panel-background-50: color-mix(in srgb, var(--panel-background), #0000 70%);
    --panel-background-faded: color-mix(in srgb, var(--panel-background), #0000 65%);
    --primary-color-faded: color-mix(in srgb, var(--primary-color), #0000 40%);  
    --blendMode: screen;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000;
      --foreground: #ffffff;
      --panel-background: #121214;
      --separator-color: #6e6e6e6a;
      --panel-background-faded: color-mix(in srgb, var(--panel-background), #0000 50%);
      --blendMode: multiply;
    }
  }
}
html {
  color: var(--foreground);
  background:linear-gradient(var(--panel-background-faded),var(--panel-background-faded)), url(/login-background.jpg);
  background:-webkit-linear-gradient(var(--panel-background-faded),var(--panel-background-faded)), url(/login-background.jpg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-blend-mode:var(--blendMode);
  background-attachment: fixed;
}

input{
  outline: none !important;
}
input[type=submit], 
input[type=reset], 
button{
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  padding: 0.75rem;
  transition: background-color 200ms;
  color:black
}
input[type=submit]:hover,
input[type=reset]:hover,
button:hover{
  background-color: var(--primary-color-hover);
}
input[type=submit]:disabled,
input[type=reset]:disabled,
 button:disabled{
  background-color: #93939393
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    /* color: #555 !important; */
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--foreground) !important;
}

.ag-theme-custom {
  /* Changes the color of the grid text */
    --ag-foreground-color: var(--foreground);
    /* Changes the color of the grid background */
    --ag-background-color: var(--background);
    /* Changes the header color of the top row */
    --ag-header-background-color: var(--background);
    /* Changes the hover color of the row*/
    --ag-row-hover-color: var(--panel-background);
    --ag-active-color: var(--accent-color)
}